/* src/App.css */
html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}
